.bubble-container {
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 20px; /* Ajusta el padding si es necesario */
    max-width: 100%; /* Asegura que el ancho sea adecuado */
}


.additional-bubbles {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
    padding: 50px; /* Usa padding en lugar de margin para evitar que se desplace fuera del contenedor */
}


.additional-bubbles div {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra la imagen y el texto */
    text-align: center;
}


.additional-bubbles img {
    width: 200px; /* Tamaño de las imágenes */
    height: 200px;
    border-radius: 50%; /* Hace que las imágenes sean circulares */
    object-fit: cover; /* Ajusta la imagen para que se centre dentro del círculo */
}

.additional-bubbles span {
    margin-top: 5px;
    font-size:20px;
    color: white;
    font-weight: bold;
}


/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento */
}

/* Estilo de la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo de la pista */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color del pulgar */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilo cuando se pasa el cursor por encima del pulgar */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color cuando se pasa el cursor por encima */
}

