#video {
    position: relative;
    width: 99.2vw;
    height: 110vh;
    overflow: hidden; /* Evita que el video se desborde del contenedor */
}

#video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que el video cubra completamente el contenedor */
}
